#About-section {
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.about-title {
  font-weight: 600;
  font-size: 2rem;
  padding-top: 2rem;
  margin-bottom: 0.75rem;
}

.about-desc {
  font-weight: 400;
  font-size: 0.9rem;
  max-width: 55rem;
  padding: 0 2rem;
}

.bars {
  margin: 1.5rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}

.bar {
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.75rem;
  background: rgb(30, 30, 30);
}

.about-img {
  object-fit: cover;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 3rem;
}

.bar-text {
  font-size: small;
  font-weight: 100;
}
p {
  font-size: small;
}

h4 {
  font-weight: 400;
}
